<p-toast></p-toast>

<div class="flex items-center mb-5 border-b-1 border-gray-300">
    <span class="text-lg font-medium text-gray-900 select-none">Email •</span>
    <span class="px-2 text-md font-semibold tracking-wider">{{user?.email}}</span>
</div>

<form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
    <div class="grid gap-3 md-6 md:grid-cols-2">
        <div>
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ime</label>
            <input formControlName="firstName" type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ime" required />
        </div>
        <div>
            <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prezime</label>
            <input formControlName="lastName" type="text" id="last_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Prezime" required />
        </div>
        <div>
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Korisnicko ime</label>
            <input formControlName="username" type="text" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Korisnicko ime" required />
        </div>
        <div>
            <label for="address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Adresa</label>
            <input formControlName="address" type="text" id="address" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Adresa" required />
        </div>
    </div>
    <div class="mb-3 mt-3">
        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Telefon</label>
        <input formControlName="phone" type="text" id="phone" autocomplete="new-phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="060 1234567" required />
    </div>
    <div class="mb-3 mt-3">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
        <input formControlName="password" type="password" id="password" autocomplete="new-password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="•••••••••" required />
    </div> 
    <div class="mb-3 mt-3">
        <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm password</label>
        <input formControlName="confirmPassword" type="password" id="confirm_password" autocomplete="new-password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="•••••••••" required />
    </div>
    <div class="flex items-start mb-3">
        <div class="flex items-center h-5">
        <input formControlName="allowPushNotifications" id="remember_notification" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300" />
        </div>
        <label for="remember_notification" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Slazem se da mi stizu notifikacije <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">o proizvodima</a>.</label>
    </div>
    <div class="flex items-start mb-3">
        <div class="flex items-center h-5">
            <input formControlName="allowEmailNotifications" id="remember_mail" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300" />
        </div>
        <label for="remember_mail" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Slazem se da mi stizu mail poruke <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">o proizvodima</a>.</label>
    </div>
    <button
        [disabled]="!editUserForm.dirty"
        type="submit" 
        class="text-white font-medium rounded-lg text-sm w-full px-5 py-2 text-center bg-[#f8b500] cursor-pointer">
        Sacuvaj
    </button>
</form>