.btnSubmitForm {
    display: block;
}

:host ::ng-deep .btnSubmitForm button{
    background-color: #f4b315 !important;
    border: none;
}

:host ::ng-deep .btnSubmitForm button:hover{
    background-color: #f7c23d !important;
    border: none;
}