<div class="flex justify-center items-center min-h-screen bg-cover">
    <div class="w-full max-w-4xl h-[50vh] mx-auto flex justify-center items-center">
      <div class="w-full max-w-md bg-[rgba(185,139,99,0.4)] backdrop-blur-md rounded-[20px] p-5 shadow-lg">
        <div class="flex flex-col justify-center h-full">
          <h5 class="text-center text-xl font-semibold mb-4 text-white">Register</h5>
          <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
            <div class="mb-3">
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class="pi pi-envelope"></i>
                </p-inputgroup-addon>
                <input pInputText placeholder="Email Address" ngModel required name="email"
                       class="w-full"/>
              </p-inputgroup>
            </div>
  
            <div class="mb-3">
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class="pi pi-user"></i>
                </p-inputgroup-addon>
                <input type="text" pInputText ngModel required placeholder="Username" name="username"
                       class="w-full"/>
              </p-inputgroup> 
            </div>
  
            <div class="mb-3">
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class="pi pi-address-book"></i>
                </p-inputgroup-addon>
                <input type="text" pInputText ngModel required placeholder="First name" name="firstName"
                       class="w-full"/>
              </p-inputgroup> 
            </div>
  
            <div class="mb-3">
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class="pi pi-address-book"></i>
                </p-inputgroup-addon>
                <input type="text" pInputText ngModel required placeholder="Last name" name="lastName"
                       class="w-full"/>
              </p-inputgroup> 
            </div>
  
            <div class="mb-3">
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class="pi pi-lock"></i>
                </p-inputgroup-addon>
                <input type="password" pInputText ngModel required placeholder="Password" name="password"
                       class="w-full"/>
              </p-inputgroup> 
            </div>
  
            <div class="mb-3">
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class="pi pi-lock"></i>
                </p-inputgroup-addon>
                <input type="password" pInputText ngModel required placeholder="Confirm password" name="confirmPassword"
                       class="w-full"/>
              </p-inputgroup> 
            </div>
  
            <div class="w-full mb-3">
              <p-button type="submit" label="Submit" fluid class="btnSubmitForm"/>
            </div>
  
            <div class="w-full text-center">
              <span class="text-white font-normal">Already have an account?
                <a routerLink="/login" class="font-bold text-white underline">Login here!</a>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  