.product__container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    place-items: center;
    border: 1px solid #dfe7ef;
    border-radius: 12px;
    box-shadow: 0px 4px 30px rgba(221, 224, 255, .54);
    padding: 2rem;
    background-color: #FFFFFF;
}

:host ::ng-deep .p-paginator{
    background-color: transparent !important;
}

:host ::ng-deep .p-paginator .p-ripple{
    color: #485467;
}

.img-of-product{
    width: 30px;
}

@media (min-width: 720px) and (max-width: 992px) {
    .products {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}

@media only screen and (max-width: 768px){
    .products {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        justify-content: center;
        align-items: center;
    }
}