<div class="flex justify-center w-full my-5">
  <!-- Border aound product view -->
  <div
    class="grid grid-cols-1 place-items-center center sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-4 max-w-6xl w-full mx-auto p-6 bg-white border border-[#dfe7ef] rounded-xl shadow-[0_4px_30px_rgba(221,224,255,0.54)]"
    *ngIf="currentFillters.viewMode === 0"
  >
    <product *ngFor="let product of products" [product]="product"></product>
  </div>

  <div *ngIf="currentFillters.viewMode === 1" class="w-full px-4">
    <div class="overflow-x-auto mt-4">
      <table
        class="min-w-[600px] w-full border-t border-[#dfe7ef] text-left text-sm"
      >
        <thead class="bg-gray-100 text-[#485467]">
          <tr>
            <th class="p-4">Name</th>
            <th class="p-4">Category</th>
            <th class="p-4">Size</th>
            <th class="p-4">Status</th>
            <th class="p-4">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let product of products"
            class="border-b hover:bg-gray-50"
          >
            <td class="p-4 flex items-center gap-2">
              <img
                [src]="'assets/products/med.png'"
                [alt]="product.name"
                class="w-[30px] h-aut"
              />
              <span class="text-zinc-500">{{ product.name }}</span>
            </td>
            <td class="p-4 text-zinc-500">{{ product.category.name }}</td>
            <td>
              <button
                (click)="selectVariation(product, variation)"
                *ngFor="let variation of product.variations"
                class="text-zinc-500 font-medium rounded-md bg-linear-to-r mx-1 py-0.5 px-1 cursor-pointer hover:from-amber-300 hover:to-yellow-300 transition-all"
              >
                {{ variation.size }}
              </button>
            </td>
            <td class="p-4">
              <ng-container
                *ngIf="getSelectedVariation(product.id) as selected"
              >
                <span class="text-zinc-600 font-medium">
                  {{ selected.in_stock ? "In stock" : "Out of stock" }}
                </span>
              </ng-container>

              <ng-container *ngIf="!getSelectedVariation(product.id)">
                <span class="text-zinc-600 font-medium">
                  Odaberite veličinu proizvoda.
                </span>
              </ng-container>
            </td>
            <ng-container
              *ngIf="getSelectedVariation(product.id) as selected"
              class="flex items-center justify-center"
            >
              <td class="p-4">
                <span class="text-zinc-600 font-medium">
                  {{ selected.price }}.00 RSD
                </span>
              </td>
            </ng-container>

            <ng-container *ngIf="!getSelectedVariation(product.id)">
              <td class="p-4">
                <span class="text-zinc-600 font-medium">
                  Odaberite veličinu proizvoda.
                </span>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Paginator -->
<div class="flex justify-center mt-6">
  <p-paginator
    
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalElements"
    [rowsPerPageOptions]="[6, 12, 15, 30]"
  ></p-paginator>
</div>
