<div class="container">
    <div class="card">
        <div class="imgBx">
        <!-- <img src="https://assets.codepen.io/4164355/shoes.png"> -->
        <img src="assets/products/med.png" alt="med">
        </div>
        <div class="contentBx">
            <h2>MED</h2>
            <div class="size">
                <h3>Velicina :</h3>
                <span>1000 g</span>
                <span>500 g</span>4
            </div>
            <div class="in_stock">
                <h3>Na stanju:</h3>
                <span></span>
            </div>
        </div>
        <div class="buttons_details_buy">
            <a href="#" class="details-btn">Details</a>
            <a href="#" class="buy-btn">Buy</a>
        </div>
    </div>
</div>