<div class="container">
    <div class="card">
        <div class="imgBx">
            <img src="assets/products/med.png" alt="med">
        </div>
        <div class="contentBx">
            <h2>{{ product.name || 'Naziv proizvoda nije dostupan' }}</h2>
            <div class="size">
                <h3>Velicina :</h3>
                <span *ngFor="let variation of product.variations" (click)="onSelectVariation(variation)"
                [ngClass]="{selected: variation.id === selectedVariation?.id}">
                {{ variation.size }}
                </span>
            </div>

            <div class="in_stock">
                <h3>Na stanju :</h3>
                <span [ngStyle]="{'color': selectedVariation?.in_stock ? '#008000' : '#ff4d4d'}">
                {{ selectedVariation?.in_stock ? "In stock" : "Out of Stock" }}
                </span>
            </div>

            <div class="price" *ngIf="selectedVariation?.in_stock">
                <h3>Cena :</h3>
                <span style="color: #fff">
                    {{ selectedVariation?.price }} RSD
                </span>
            </div>

            <div class="num_of_item" *ngIf="selectedVariation?.in_stock">
                <span class="btn-num-order" (click)="decreaseQuantity()">
                    -
                </span>

                <span style="color: #fff; width: 36px;">{{quantity}}</span>

                <span class="btn-num-order" (click)="increaseQuantity()">
                    +
                </span>
            </div>
        </div>
        <div class="buttons_details_buy">
            <a href="#" class="details-btn">Details</a>
            <a class="buy-btn" (click)="addToCart(product, quantity)">Buy</a>
        </div>
    </div>
</div>