<div class="container">
    <div class="card">
        <div class="imgBx">
            <img src="assets/products/med.png" alt="med">
        </div>
        <div class="contentBx">
            <h2>{{ product.name || 'Naziv proizvoda nije dostupan' }}</h2>
            <div class="size">
                <h3>Velicina :</h3>
                <span>1000 g</span>
                <span>500 g</span>
            </div>
            <div class="in_stock">
                <h3>Na stanju</h3>
            </div>
        </div>
        <div class="buttons_details_buy">
            <a href="#" class="details-btn">Details</a>
            <a href="#" class="buy-btn">Buy</a>
        </div>
    </div>
</div>