.content{
    width: 100%;
    height: 100vh;
    margin: auto;
    background-image: url("../../../../public/bgFinal.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}