<div *ngIf="loading" class="loader">
    <loader></loader>
</div>

<div id="page-wrapper" *ngIf="!loading">
    <app-navbar></app-navbar>

    <div id="steps" class="container mx-auto">
        <p-steps [model]="items" [readonly]="false" [activeIndex]="activeIndex" (activeIndexChange)="onActiveIndexChange($event)" />
    </div>
    
    <div id="content" class="container mx-auto">
        <div class="tableResponsive" *ngIf="activeIndex === 0">
            <div class="title">
                <span>Moja korpa</span>
            </div>
            <table>
                <th></th>
                <th>Proizod</th>
                <th>Cena</th>
                <th>Popust</th>
                <th>Cena sa popustom</th>
                <th>Kolicina</th>
                <th>Ukupno</th>
                <th></th>
                <tr *ngFor="let product of cartItems">
                    <td><img src="assets/products/med.png" alt="asd" width="70px"></td>
                    <td class="productDetails">
                        <span>{{product.catergyName | uppercase}}</span>
                        <span>{{product.productName}}</span>
                        <span>Velicina: {{product.variationSize}}</span>
                    </td>
                    <td>{{product.variationBasePrice}}.00 RSD</td>
                    <td>{{product.variationDiscount}}</td>
                    <td>{{product.variationPrice}}.00 RSD</td>
                    <td class="quantity">
                        <div class="qty">
                            <span>-</span>
                            <strong>{{product.variationQuantity}}</strong>
                            <span>+</span>
                        </div>
                    </td>
                    <td>123</td>
                    <!-- (click)="deleteProduct(product)" -->
                    <td>Uklonite</td>
                </tr>
            </table>
            <div>
                <span class="totalPrice">Ukupno za placanje: {{totalPrice()}}.00 RSD</span>
            </div>
        </div>

        <div class="userInfo" *ngIf="activeIndex === 1">
            <div class="title">
                <span>Podaci kupca</span>
            </div>

            <div class="info" [ngClass]="{'separate': user === null}">
                <div class="inps">
                    <div class="inp">
                        <label for="name">*Ime</label>
                        <input type="text" [(ngModel)]="userFirstName">
                    </div>
                    <div class="inp">
                        <label for="name">*Prezime</label>
                        <input type="text" [(ngModel)]="userLastName">
                    </div>
                    <div class="inp">
                        <label for="name">*Email</label>
                        <input type="text" [(ngModel)]="userEmail">
                    </div>
                    <div class="inp">
                        <label for="name">*Telefon</label>
                        <input type="text" [(ngModel)]="userPhone">
                    </div>
                    <div class="inp">
                        <label for="name">*Grad</label>
                        <input type="text" [(ngModel)]="userCity">
                    </div>
                    <div class="inp">
                        <label for="name">*Postanski broj</label>
                        <input type="text" [(ngModel)]="userPostalCode">
                    </div>
                    <div class="inp">
                        <label for="name">*Adresa</label>
                        <input type="text" [(ngModel)]="userAddress">
                    </div>

                    <div class="inp">
                        <label for="deliveryMethod">*Metod dostave</label>
                        <select [(ngModel)]="deliveryMethod" id="deliveryMethod">
                            <option *ngFor="let option of deliveryOptions" [value]="option.id">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                
                <div *ngIf="user === null" class="userNotLogged">
                    <span class="title">Dodatne pogodnosti za registrovane kupce</span>
                    <ul>
                        <li><i class="pi pi-check"></i> Obavestenja o proizvodima</li>
                        <li><i class="pi pi-check"></i> Lakse online narucivanje</li>
                        <li><i class="pi pi-check"></i> Odabir omiljenih proizvoda</li>
                    </ul>
                    <div class="btns">
                        <button routerLink="/register">Registruj se</button>
                        <button routerLink="/login">Prijavi se</button>
                    </div>
                </div>
            </div>

            <div class="total">
                <span class="totalPrice">Ukupno za placanje: {{totalPrice()}}.00 RSD</span>
            </div>
        </div>
        <div class="summary" *ngIf="activeIndex === 2">
            <div class="summary-container">
                <div class="summary-left">
                    <div class="title">
                        <span>Pregled kupovine</span>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Proizvod</th>
                                <th>Kolicina</th>
                                <th>Cena</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of cartItems">
                                <td>{{product.productName}}</td>
                                <td>{{product.variationQuantity}}</td>
                                <td>{{product.variationPrice}}.00 RSD</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="summary-right">
                    <div class="title">
                        <span>Informacije o kupcu</span>
                    </div>
                    <div class="info">
                        <p><strong>Ime:</strong> {{userFirstName}}</p>
                        <p><strong>Prezime:</strong> {{userLastName}}</p>
                        <p><strong>Email:</strong> {{userEmail}}</p>
                        <p><strong>Telefon:</strong> {{userPhone}}</p>
                        <p><strong>Grad:</strong> {{userCity}}</p>
                        <p><strong>Postanski broj:</strong> {{userPostalCode}}</p>
                        <p><strong>Adresa:</strong> {{userAddress}}</p>
                        <!-- <p><strong>Metod dostave:</strong> {{deliveryMethod | deliveryMethodName}}</p> -->
                    </div>
                </div>
            </div>
            <div class="total">
                <span class="totalPrice">Ukupno za placanje: {{totalPrice()}}.00 RSD</span>
            </div>
        </div>
        <div class="navigator">
            <button routerLink="/products" class="btn btn-primary">Proizvodi</button>
            <div class="navigateBtns">
                <button *ngIf="activeIndex !== 0" class="btn btn-primary" (click)="goToPrevStep()">Prethodni korak</button>
                <button *ngIf="activeIndex !== 2" class="btn btn-primary" (click)="goToNextStep()">Sledeci korak</button>
            </div>
        </div>
    </div>
</div>