@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.loader{
    width: 100vw;
    height: 100vh;
    background-color: #f2f4fc;
}

input {
    padding: 10px;
    border: 1px solid #dfe7ef;
    background-color: white;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

textarea {
    background-color: white;
    padding: 10px;
    border: 1px solid #dfe7ef;
    border-radius: 12px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    resize: vertical;
}

textarea:focus {
    border-color: rgb(244,179,21);
    box-shadow: 0 0 5px rgba(255, 208, 0, 0.705);
    outline: none;
}

input:focus {
    border-color: rgb(244,179,21);
    box-shadow: 0 0 5px rgba(255, 208, 0, 0.705);
    outline: none;
}

select {
    cursor: pointer;
    padding: 12px;
    border: 1px solid #dfe7ef;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
}

select:focus {
    border-color: rgb(244,179,21);
    box-shadow: 0 0 5px rgba(255, 208, 0, 0.705);
    outline: none;
}

select option {
    padding: 10px;
    font-size: 1rem;
}

i.pi {  
    font-family: "PrimeIcons" !important;  
    font-style: normal;  
}

:host ::ng-deep .p-steps-item-number{
    color: rgb(244,179,21);
}

:host ::ng-deep .p-steps-item-label span {
    color: red;
}

@media (max-width: 768px) {
    :host ::ng-deep .p-steps-item {
        font-size: 0.9rem;
        padding: 8px;
    }
}

/* ------------------------------------------------------------ */

#page-wrapper{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    background-color: #f2f4fc;
}

#steps{
    margin: 3rem;
}

#content{
    border: 1px solid #dfe7ef;
    border-radius: 12px;
    box-shadow: 0px 4px 30px rgba(221, 224, 255, .54);
    padding: 1rem 2rem;
}

/* ------------------------------------------------------------ */

.total, .totalPrice {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    border-top: 1px solid #dfe7ef;
    border-radius: 0 0 12px 12px;
    margin-top: 1rem;   
}

.totalPrice {
    background-color: #eaeaea;
    transition: background-color 0.3s ease;
}

.totalPrice:hover {
    background-color: #dcdcdc;
}