<div *ngIf="(isLoading$ | async)" class="loader">
    <loader></loader>
</div>

<header class="navbar">
  <div class="navbar__container py-3">
    <a class="navbar__brand" routerLink="/home">honeybal</a>

    <button class="navbar__toggle" (click)="toggleMenu()">
      <i class="pi pi-bars" *ngIf="!isMenuOpen"></i>
      <i class="pi pi-times" *ngIf="isMenuOpen"></i>
    </button>

    <nav class="navbar__menu" [class.active]="isMenuOpen">
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/products" routerLinkActive="active">Products</a>
      <a routerLink="/gallery" routerLinkActive="active">Gallery</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/login" routerLinkActive="active" *ngIf="!loggedUser">Login</a>

      <ng-container *ngIf="loggedUser">
        <a routerLink="/profile"><i class="pi pi-user bg-white rounded-full p-2 hover:text-[#f8b500] transition-all"></i></a>
        <a routerLink="/"><i class="pi pi-bell bg-white rounded-full p-2 hover:text-[#f8b500] transition-all"></i></a>
        <a (click)="logout()"><i class="pi pi-sign-out bg-white rounded-full p-2 hover:text-[#f8b500] transition-all"></i></a>
      </ng-container>

        <a class="cart-icon bg-zinc" (click)="openCart()">
            <i class="pi pi-shopping-cart bg-white rounded-full p-2 hover:text-[#f8b500] transition-all"></i>
        </a>
    </nav>
  </div>
</header>

<div class="backdrop" [ngClass]="{show : visible$ | async}" (click)="closeCart()"></div>
<cart-sidebar 
(closeEmitter)="closeCart()"
[visible]="(visible$ | async) ?? false"></cart-sidebar>