<div class="content">
    <div class="bee">
      <div class="body">
        <div class="line"></div>
      </div>
      <div>
        <div class="wing-right"></div>
        <div class="wing-left"></div>
      </div>
      <div class="path">
        <div class="pollen"></div>
        <div class="pollen"></div>
        <div class="pollen"></div>
        <div class="pollen"></div>
        <div class="pollen"></div>
        <div class="pollen"></div>
        <div class="pollen"></div>
        <div class="pollen"></div>
        <div class="pollen"></div>
      </div>
    </div>
</div>