<div class="overflow-x-hidden overflow-y-auto h-screen w-full bg-[#f2f4fc]">
    <div class="flex flex-col h-full">
        <app-navbar></app-navbar>
        
        <div class="flex flex-1 md:flex-row m-6 gap-6 flex-col">
            <div class="flex flex-col justify-center rounded-xl bg-white min-w-[36%] p-4 space-y-6">
                <edit-user></edit-user>
            </div>

            <div class="flex flex-1 flex-col h-full gap-6 md:max-w-[63%] max-w-[100%]">
                <div class="flex-1 bg-white rounded-xl p-4">
                    <h2 class="font-semibold mb-1">Istorija narudzbina:</h2>
                    <order-table></order-table>
                </div>
                <div class="flex-1 bg-white rounded-xl p-4">
                    <h2 class="font-semibold mb-2">Omiljeni proizvodi:</h2>

                    <div *ngIf="wishItems.length === 0" class="text-center text-gray-500 italic py-10">
                        Trenutno nemate nijedan omiljeni proizvod.
                    </div>
                    
                    <div (scroll)="onScroll($event)" class="grid grid-flow-col auto-cols-max overflow-x-auto gap-4 content-center">
                        <wish-item
                        *ngFor="let item of wishItems" 
                        [item]="item"
                        (removed)="onRemoveFavorite($event)"></wish-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>