button:hover{
    opacity: 0.8;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    background-color: #f0ebeb;
    z-index: 100;
    overflow-x: hidden;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.1);
    transform: translateX(110%);
    transition: transform .4s ease;
}

.sidebar.open{
    transform: translateX(0);
}

.cart-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cart-header {
    padding: 1rem;
    border-bottom: 1px solid #b0b0b0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-header i {
    font-size: 1.4rem;
}

.header-title {
    position: relative;
}

.header-title span{
    position: absolute;
    top: -5px;
    right: -20px;
    width: 20px;
    height: 20px;
    background-color: royalblue;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-header .close-btn{
    cursor: pointer;
    transition: transform .2s ease;
}

.cart-header .close-btn:hover{
    transform: scale(1.1);
}

/* CART ITEMS */
.cart-items{
    flex: 1;
    overflow-x: hidden;
}

.cart-item{
    position: relative;
    padding: 1rem;
    width: 100%;
    min-height: 150px;
    display: flex;
    border-bottom: 1px solid #b0b0b0;
}

.remove-item{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.remove-item i{
    color: #fff;
    font-size: 16px;
    user-select: none;
}

.item-img{
    flex: 1;
}

.item-img img{
    width: 80px;
    height: 100%;
    object-fit: contain;
}

.item-details{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.item-details p{
    color: #666;
    margin-bottom: 0;
}

.item-details .qty{
    align-self: flex-start;
    display: flex;
    align-items: center;
    /* margin-top: 1rem; */
    gap: 1rem;
}

.item-details .qty span{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1) -1px -1px 2px rgba(0, 0, 0, 0.1);    
    user-select: none;
    transition: scale .2s ease;
    padding-bottom: 5px;
}

.item-details .qty span:hover{
    scale: 1.1;
}

.item-details .qty span:active{
    scale: 1;
}

.cart-actions {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid #b0b0b0;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.cart-actions .btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart-actions .subtotal {
    margin-bottom: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

.cart-actions button {
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.cart-actions button:nth-of-type(2){
    background: rgb(244,179,21);
}