<div id="content">
    <p-table [value]="categories" dataKey="id" editMode="row" [tableStyle]="{ 'width': '100%', 'min-width': '50rem' }">
        <ng-template #caption>
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="m-0">Manage Categories</h5>
                <div>
                    <p-button label="New" icon="pi pi-plus" class="me-2"  />
                    <p-button severity="danger" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"/>
                </div>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="width: 20%">
                    <p-tableHeaderCheckbox />
                </th>
                <th style="width:20%">ID</th>
                <th style="width:20%">Category name</th>
                <th style="width:20%"></th>
            </tr>
        </ng-template>
        <ng-template #body let-categorie let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="categorie">
                <td style="width: 3rem">
                    <p-tableCheckbox [value]="categorie" />
                </td>
                <td>
                    {{categorie.id}}
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template #input>
                            <input
                                pInputText type="text"
                                [(ngModel)]="categorie.name"
                                required />
                        </ng-template>
                        <ng-template #output>
                            {{categorie.name}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                
                <td>
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <!-- (click)="onRowEditInit(product)" -->
                        <button
                            *ngIf="!editing"
                            pButton
                            pRipple
                            type="button"
                            pInitEditableRow
                            icon="pi pi-pencil"
                            text
                            rounded
                            severity="secondary"
                        ></button>
                        <!-- (click)="onRowEditSave(product)" -->
                        <button
                            *ngIf="editing"
                            pButton
                            pRipple
                            type="button"
                            pSaveEditableRow
                            icon="pi pi-check"
                            
                            text
                            rounded
                            severity="secondary"
                        ></button>
                        <!-- (click)="onRowEditCancel(product, ri)" -->
                        <button
                            *ngIf="editing"
                            pButton
                            pRipple
                            type="button"
                            pCancelEditableRow
                            icon="pi pi-times"
                            
                            text
                            rounded
                            severity="secondary"
                        ></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <hr>

    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <!-- (onClick)="openNew()" -->
            <p-button label="New" icon="pi pi-plus" class="me-2"  />
            <p-button severity="danger" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"/>
        </ng-template>
    
        <ng-template #end>
            <!-- (onClick)="exportCSV($event)" -->
            <p-button label="Export" icon="pi pi-upload" severity="secondary" />
        </ng-template>
    </p-toolbar>
    
    <p-table 
        [value]="products" 
        [rows]="10"
        [columns]="cols"
        [paginator]="true"
        [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="selectedProducts"
        dataKey="id" 
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
        [expandedRowKeys]="expandedRows" 
        >
        <ng-template #caption>
            <div class="header-wrapper">
                <h5 class="m-0">Manage Products</h5>
                <div class="expand-search">
                    <p-button label="Expand All" icon="pi pi-plus" text (onClick)="expandAll()"/>
                    <p-button label="Collapse All" icon="pi pi-minus" text (onClick)="collapseAll()"/>
                    
                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-search" />
                        <!-- (input)="dt.filterGlobal($event.target.value, 'contains')" -->
                        <input pInputText type="text"  placeholder="Search..." />
                    </p-iconfield>
                </div>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="width: 5rem"></th>
                <th>ID</th>
                <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
                <th pSortableColumn="name">Description <p-sortIcon field="name" /></th>
                <th pSortableColumn="category">Category id <p-sortIcon field="category" /></th>
                <th pSortableColumn="category">Category name <p-sortIcon field="category" /></th>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox />
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-product let-expanded="expanded">
            <tr>
                <td>
                    <p-button type="button" pRipple [pRowToggler]="product" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                </td>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.category.id }}</td>
                <td>{{ product.category.name }}</td>
                <td style="width: 3rem">
                    <p-tableCheckbox [value]="product" />
                </td>
            </tr>
        </ng-template>
        <ng-template #expandedrow let-product>
            <tr>
                <td colspan="7">
                    <div class="p-3">
                        <h5>Variations for {{ product.name }}</h5>
                        <p-table [value]="product.variations" dataKey="id">
                            <ng-template #header>
                                <tr>
                                    <th>ID</th>
                                    <th pSortableColumn="customer">Size <p-sortIcon field="customer" /></th>
                                    <th pSortableColumn="date">Image <p-sortIcon field="date" /></th>
                                    <th pSortableColumn="amount">Price <p-sortIcon field="amount" /></th>
                                    <th pSortableColumn="status">Discount <p-sortIcon field="status" /></th>
                                    <th pSortableColumn="status">In Stock <p-sortIcon field="status" /></th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-variation>
                                <tr>
                                    <td>{{ variation.id }}</td>
                                    <td>{{ variation.size }}</td>
                                    <td><img src="assets/products/med.png" style="width: 44px;" alt=""></td>
                                    <td>{{ variation.basePrice }} RSD</td>
                                    <td>{{ variation.discount }} %</td>
                                    <td>
                                        <!-- [severity]="getStatusSeverity(order.status)" -->
                                        <p-tag [value]="variation.in_stock"  />
                                    </td>
                                    <td>
                                        <p-button class="edit-btn" icon="pi pi-pencil" [rounded]="true" [outlined]="true" (click)="editProduct(product, variation)" />
                                        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(product)" />
                                    </td>
                                </tr>
                            </ng-template>
                            
                        </p-table>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>