<div class="flex justify-center items-center min-h-screen">
    <div class="w-full h-[60vh] flex justify-center">
        <div class="w-full max-w-md bg-[rgba(185,139,99,0.4)] backdrop-blur rounded-2xl p-5 shadow-lg signUpContent">
            <div class="flex flex-col justify-center h-full">
                <div class="flex justify-center items-center mb-4">
                    <img src="assets/logoFinal.png" alt="logo" class="w-[150px]">
                </div>
                <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                    <div class="mb-3">
                        <p-inputgroup>
                            <p-inputgroup-addon>
                                <i class="pi pi-envelope"></i>
                            </p-inputgroup-addon>
                            <input pInputText placeholder="Email" ngModel required name="email" />
                        </p-inputgroup>
                    </div>

                    <div class="mb-3">
                        <p-inputgroup>
                            <p-inputgroup-addon>
                                <i class="pi pi-lock"></i>
                            </p-inputgroup-addon>
                            <input type="password" pInputText ngModel required placeholder="Password" name="password" />
                        </p-inputgroup>
                    </div>

                    <div class="mb-3 flex justify-between items-center row-wrapper">
                        <div class="checkbox-wrapper-4">
                            <input class="inp-cbx" id="rm" type="checkbox" name="rememberMe" ngModel />
                            <label class="cbx" for="rm"><span>
                                <svg width="12px" height="10px">
                                    <use xlink:href="#check-4"></use>
                                </svg></span><span class="text-white text-sm text-blue-600 hover:underline cursor-pointer">Remeber me</span></label>
                            <svg class="inline-svg">
                                <symbol id="check-4" viewbox="0 0 12 10">
                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                </symbol>
                            </svg>
                        </div>
                        <div class="reset-password">
                            <span class="text-white text-sm text-blue-600 hover:underline cursor-pointer">Reset password</span>
                        </div>
                    </div>

                    <div class="w-full mb-3">
                        <p-button type="submit" label="Submit" fluid class="btnSubmitForm" />
                    </div>

                    <div class="w-full text-center">
                        <span class="text-sm text-zinc-400">Don't have an account? <a class="text-yellow-600 hover:underline" routerLink="/register">Sign up here.</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>