<header class="header">
  <nav class="nav">
    <div class="nav__data">
      <a  class="nav__logo" routerLink="/home">
        <img src="assets/logoFinal.png" alt="logo">
      </a>

      <div class="nav__toggle" (click)="toggleMenu()">
        <i class="pi pi-bars" *ngIf="!isMenuOpen"></i>
        <i class="pi pi-times" *ngIf="isMenuOpen"></i>
      </div>
    </div>
    
    <div class="nav__menu" [class.show-menu]="isMenuOpen">
      <ul class="nav__list">
        <li><a routerLink="/home" class="nav__link">Home</a></li>
        <li><a routerLink="/products" class="nav__link">Products</a></li>

        <li class="dropdown__item">
          <div class="nav__link">
            About Us <i class="ri-arrow-down-s-line dropdown__arrow"></i>
          </div>
        </li>

        <li><a (click)="logout()" class="nav__link">Gallery</a></li>

        <li *ngIf="user">
          <div class="nav__link flex items-center gap-2">
            <p-avatar shape="circle" icon="pi pi-shopping-cart"/>
          </div>
        </li>

        <li *ngIf="user" class="dropdown__item">
          <div class="nav__link flex items-center gap-2">
            <p-avatar shape="circle" icon="pi pi-user"/>
          </div>
          <ul class="dropdown__menu">
            <li>
              <a href="#" class="dropdown__link">
                <i class="pi pi-user"></i> Profile
              </a>
            </li>
            <li>
              <a href="#" class="dropdown__link">
                <i class="pi pi-envelope"></i> Messages
              </a>
            </li>
            <li>
              <a class="dropdown__link" (click)="logout()">
                <i class="pi pi-sign-out"></i> Logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
