<header class="header">
  <nav class="nav">
    <div class="nav__data">
      <a  class="nav__logo" routerLink="/home">
        <img src="assets/logoFinal.png" alt="logo">
      </a>

      <div class="nav__toggle" (click)="toggleMenu()">
        <i class="pi pi-bars" *ngIf="!isMenuOpen"></i>
        <i class="pi pi-times" *ngIf="isMenuOpen"></i>
      </div>
    </div>
    
    <div class="nav__menu" [class.show-menu]="isMenuOpen">
      <ul class="nav__list">
        <li><a routerLink="/home" class="nav__link">Home</a></li>
        <li><a routerLink="/products" class="nav__link">Products</a></li>

        <li class="dropdown__item">
          <div class="nav__link">
            About Us <i class="ri-arrow-down-s-line dropdown__arrow"></i>
          </div>
        </li>

        <li><a class="nav__link">Gallery</a></li>
        <li *ngIf="user == null"><a routerLink="/login" class="nav__link">Login</a></li>

        <li *ngIf="(user)">
          <div class="nav__link flex items-center gap-2">
            <p-avatar shape="circle" icon="pi pi-shopping-cart" (click)="visible2 = true"/>
          </div>
        </li>

        <li *ngIf="(user)" class="dropdown__item">
          <div class="nav__link flex items-center gap-2">
            <p-avatar shape="circle" icon="pi pi-user"/>
          </div>
          <ul class="dropdown__menu">
            <li>
              <a href="#" class="dropdown__link">
                <i class="pi pi-user"></i> Profile
              </a>
            </li>
            <li>
              <a href="#" class="dropdown__link">
                <i class="pi pi-envelope"></i> Messages
              </a>
            </li>
            <li>
              <a class="dropdown__link" (click)="logout()">
                <i class="pi pi-sign-out"></i> Logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>

<p-drawer [(visible)]="visible2" position="right">
    <ng-template #headless>
        <div class="d-flex flex-column h-100">
            <div class="d-flex align-items-center justify-content-between px-3 pt-3">
                <h3>Korpa</h3>
            </div>

          <div class="overflow-auto" *ngFor="let item of cartItems">
              <div class="cartItem mb-3">
                  <img src='assets/products/med.png' style="width: 40px;" alt="">
                  <div class="productDetails">
                    <span class="fw-medium">{{item.productName}}</span>
                    <span>Velicina proizvoda: {{item.variationSize}}</span>
                    <span class="fw-medium">{{item.variationQuantity}} x {{item.variationPrice}}.00 RSD</span>
                  </div>
                  <!-- (click)="deleteProduct(product) -->
                  <i class="pi pi-trash"></i>
              </div>
          </div>

          <div class="mt-auto">
              <hr class="mb-4 mx-3 border-top border-0 border-secondary">
              <h3>Ukupno za placanje: </h3>
          </div>
        </div>
    </ng-template>
</p-drawer>
