<app-navbar></app-navbar>
<div class="product-detail-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="product-image">
                    <img src="assets/products/med.png" alt="{{ product.name }}" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-details">
                    <h1 class="product-title">{{ product.name }}</h1>
                    <p class="product-description">{{ product.description }}</p>
                    <div class="product-price">
                        <!-- <span>{{ product.price | currency }}</span> -->
                    </div>
                    <div class="product-actions">
                        <button class="btn btn-primary">Add to Cart</button>
                        <button class="btn btn-secondary">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="product-reviews">
                    <h2>Customer Reviews</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
