.view-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid-view,
.list-view{
    border: 1px solid white;
    margin-right: 8px;
    padding: 3px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-view i,
.list-view i{
    color: white;
    font-size: 1.2rem;
}