.filter__content{
    position: sticky;
    top: calc(100px);
    left: 0;
    background-color: transparent;
    z-index: 99;
}

.stock-checkboxes{
    display: flex;
    flex-direction: column;
}

.checkbox-wrapper{
    display: flex;
    flex-direction: row;
    gap: 0.725rem;
}

:host ::ng-deep .p-panel{
    background-color: transparent;
    color: white;
}

:host ::ng-deep .p-panel .p-panel-header{
    color: white;
}

:host ::ng-deep .p-panel .p-panel-header .p-ripple{
    color: white;
}