<footer class="footer bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h4>About Us</h4>
                <p>We are a company dedicated to providing the best service possible.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h4>Quick Links</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Home</a></li>
                    <li><a href="#" class="text-white">Services</a></li>
                    <li><a href="#" class="text-white">Contact</a></li>
                    <li><a href="#" class="text-white">About</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h4>Contact Us</h4>
                <p>Email: <a href="mailto:info@company.com" class="text-white">info&#64;company.com</a></p>
                <p>Address: 123 Main Street, Anytown, USA</p>
                <div class="social-icons mb-2">
                    <a href="#" class="text-white me-2"><i class="pi pi-facebook"></i></a>
                    <a href="#" class="text-white me-2"><i class="pi pi-twitter"></i></a>
                    <a href="#" class="text-white me-2"><i class="pi pi-linkedin"></i></a>
                    <a href="#" class="text-white"><i class="pi pi-instagram"></i></a>
                </div>
                <p>Phone: +123 456 7890</p>
            </div>
        </div>
        <div class="row cpRow">
            <div class="col text-center">
                <p>&copy; 2025 Company Nikolic. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>