.loader{
    width: 100vw;
    height: 100vh;
    background-color: #f2f4fc;
}

#page-wrapper{
    /* background-color: #FAF3E0; */
    background-color: #f2f4fc;
    height: 100vh;
    margin:0px;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f4fc;
    text-align: center;
}