<div class="card relative min-w-[270px] w-[320px] sm:w-[280px] md:w-[280px] lg:w-[320px] h-[450px] sm:h-[400px] md:h-[380px] lg:h-[450px] bg-[#FAF3E0] shadow-[0px_4px_30px_rgba(221,224,255,0.54)] rounded-xl border border-[#dfe7ef] overflow-hidden flex justify-center items-center group">
  
  <!-- Favorite product  -->
  <div (click)="toggleFavorite()" class="bg-white rounded-md absolute m-3 top-0 right-0 cursor-pointer shadow-md hover:scale-110 transition-transform">
    <i *ngIf="isFavorite === false" class="pi pi-star p-2 text-lg text-gray-400"></i>
    <i *ngIf="isFavorite === true" class="pi pi-star-fill p-2 text-lg text-amber-400"></i>
  </div>

  <!-- Slika -->
  <div class="imgBx absolute top-1/2 transform -translate-y-1/2 w-full h-[260px] transition-all duration-500 z-10 group-hover:top-[3%] group-hover:translate-y-0 group-hover:scale-75">
    <img src="assets/products/med.png" alt="Product" class="absolute top-[36%] left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[180px] sm:w-[150px] md:w-[150px]" />
  </div>

  <!-- Content -->
  <div class="absolute bottom-0 w-full h-[120px] text-center transition-all duration-1000 z-10 group-hover:h-[220px]">
    <h2 class="font-semibold tracking-wide text-[#485467] text-[28px] sm:text-[24px] m-0 md:text-[20px]">{{ product.name || 'Naziv proizvoda nije dostupan' }}</h2>

    <!-- In stock -->
    <div class="flex justify-center items-center mt-1 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all delay-500">
      <h3 class="text-[#485467] font-light text-sm uppercase tracking-widest mr-2 m-0">Na stanju</h3>
      <span class="text-[#485467] text-sm">{{ selectedVariation?.in_stock ? "In stock" : "Out of Stock" }}</span>
    </div>

    <!-- Cena -->
    <div class="flex justify-center items-center mt-1 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all delay-500">
      <h3 class="text-[#485467] font-light text-sm uppercase tracking-widest mr-2 m-0">Cena</h3>
      <span class="text-[#485467] text-sm">{{ selectedVariation?.price }} RSD</span>
    </div>

    <!-- Veličine -->
    <div class="flex justify-center items-center mt-1 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all delay-500">
      <h3 class="text-[#485467] font-light text-sm uppercase tracking-widest mr-2 m-0">Veličine</h3>
      <span *ngFor="let variation of product.variations" (click)="onSelectVariation(variation)"
          class="px-2 bg-white rounded-md text-[#485467] text-sm mx-1 cursor-pointer"
          [ngClass]="{selected: variation.id === selectedVariation?.id}">
          {{ variation.size }}
      </span>
    </div>

    <!-- Broj komada -->
    <div class="flex justify-center items-center gap-4 mt-2 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all delay-500">
      <button (click)="decreaseQuantity()" class="bg-[#f4b315] px-2 py-1 rounded-md font-medium text-lg">-</button>
      <span class="text-[#485467]">{{quantity}}</span>
      <button (click)="increaseQuantity()" class="bg-[#f4b315] px-2 py-1 rounded-md font-medium text-lg">+</button>
    </div>

    <!-- Dugmad -->
    <div class="flex justify-between px-4 mt-2 absolute bottom-2 w-full z-10">
      <a (click)="showProductDetail(product)" class="bg-white px-4 py-1 rounded-full font-semibold text-[#485467] hover:bg-[#f4b315] transition-all">Detalji</a>
      <a (click)="addToCart(product, quantity)" class="bg-white px-4 py-1 rounded-full font-semibold text-[#485467] hover:bg-[#f4b315] transition-all">Kupi</a>
    </div>
  </div>
</div>
