@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(235,197,81,1) 0%, rgba(237,163,64,1) 100%);
  clip-path: circle(120px at 90% 20%);
  transition: 0.4s ease-in-out;
  z-index: 0;
}

.card:hover::before {
  clip-path: circle(260px at 80% -20%);
}

.card::after {
  content: '';
  position: absolute;
  top: 55%;
  background-image: url('../../../../public/assets/products/cardBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  opacity: 0.2;
  z-index: 1;
}
