.search-bar-wrapper{
    position: relative;
    border: 1px solid #dfe7ef;
    border-radius: 12px;
    box-shadow: 0px 4px 30px rgba(221, 224, 255, .54);
    display: inline-block;
    width: auto;
}

.search-bar-wrapper input[type="text"]{
    background-color: #FFFFFF;
    color: #485467;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 12px;
    border: none;
}

.search-bar-wrapper input[type="text"]:focus{
    outline: none;
}

.search-bar-wrapper .search-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    color: #485467;
    font-size: 1.2rem;
    cursor: pointer;
    transform: translateY(-50%);
}